.top_collections {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 0 107px;

  .collections {
    display: grid;
    grid-template-columns:repeat(4 ,255.7px);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    //justify-content: space-between;
    //flex-wrap: wrap;
    //row-gap: 27px;

    .collection {
      cursor: pointer;
      border: 1px solid #73E0A9;
      border-radius: 35px;
      overflow: hidden;
      height: 367px;
      display: flex;
      flex-direction: column;
      transition: all 0.4s linear;
      &:hover {
        border: 1px solid #5B68DF;
      }

      .about_nft {
        margin: 0 auto;
        background: #252836;
        width: 220.7px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        .user {
          display: flex;
          color: white;
          align-items: center;
          padding: 21px 23px;
          column-gap: 12px;
          width: 100%;
          border-bottom: 1px solid transparent;
          border-image: linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
          -moz-border-image: -moz-linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
          -webkit-border-image: -webkit-linear-gradient(20.71deg, #73E0A9 0%, #5B68DF 100%);
          border-image-slice: 1;

          span {
            font-weight: 100;
            font-size: 10px;
            line-height: 14px;
          }
        }
        .price{
          display: flex;
          flex-direction: column;
          justify-content: start;
          text-align: left;
          padding: 9.93px 113px 9.93px 23px;
          color: white;
          span{
            font-weight: 100;
          }
        }
      }
    }
  }

}