@import "nullStyle";
@import "fonts";
@import "nav";
@import "header";
@import "gems";
@import "collections";
@import "about";
@import "marketplace";
@import "footer";
body {
  background-image: url("../img/background.jpg");
  font-family: 'WhyteInktrap', sans-serif;
  font-weight: 400;
  max-width: 1440px;
  display: flex;
  justify-content: center;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: white;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: white;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: white;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: white;
}

.wrapper {
  box-sizing: border-box;
  //overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  //align-items: center;
}
