* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "WhyteInktrap";
  src: url("../fonts/WhyteInktrap-ExtraLight.woff2"), url("../fonts/WhyteInktrap-ExtraLight.woff");
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "WhyteInktrap";
  src: url("../fonts/WhyteInktrap-Regular.woff2"), url("../fonts/WhyteInktrap-Regular.woff");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "WhyteInktrap";
  src: url("../fonts/WhyteInktrap-Book.woff2"), url("../fonts/WhyteInktrap-Book.woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "WhyteInktrap";
  src: url("../fonts/WhyteInktrap-Bold.woff2"), url("../fonts/WhyteInktrap-Bold.woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "WhyteInktrap";
  src: url("../fonts/WhyteInktrap-Heavy.woff2"), url("../fonts/WhyteInktrap-Heavy.woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 27px;
  width: 100%;
  background: #1f1d2b;
  backdrop-filter: blur(1110px);
  opacity: 80%;
}
.nav img {
  cursor: pointer;
}
.nav .search {
  padding: 9px 33px;
  width: 378px;
  position: relative;
  border: 1px solid transparent;
  border-radius: 30px;
  background: #1f1d2b;
  background-clip: padding-box;
}
.nav .search::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
  content: "";
  z-index: -1;
  border-radius: 30px;
}
.nav .search label {
  display: flex;
  align-items: center;
  column-gap: 26px;
  width: 100%;
  height: 100%;
}
.nav .search label img {
  cursor: pointer;
}
.nav .search label input {
  background: inherit;
  font-weight: 100;
  color: white;
  width: 100%;
}
.nav .buttons {
  display: flex;
  column-gap: 40px;
  align-items: center;
}
.nav .buttons .account_btn {
  padding: 6px 24px;
  position: relative;
  border: 1px solid transparent;
  border-radius: 30px;
}
.nav .buttons .account_btn:hover {
  background: #1f1d2b;
}
.nav .buttons .account_btn::after {
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
  content: "";
  z-index: -1;
  border-radius: 30px;
}
.nav .buttons .wallet {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 4px 24px;
  position: relative;
  border: 1px solid transparent;
  border-radius: 30px;
}
.nav .buttons .wallet:hover {
  background: #1f1d2b;
}
.nav .buttons .wallet::after {
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
  content: "";
  z-index: -1;
  border-radius: 30px;
}
.nav .buttons a {
  color: white;
  transition: all 0.4s linear;
}
.nav .buttons a:nth-child(1):hover {
  color: #73E0A9;
}
.nav .buttons a:nth-child(2):hover {
  color: #73E0A9;
}
.nav .buttons a:nth-child(3):hover {
  color: #73E0A9;
}

header {
  color: white;
  padding-left: 103px;
}
header .title {
  margin-top: 220px;
}
header .title span {
  font-size: 14px;
  font-weight: 200;
  opacity: 0.5;
}
header .title h1 {
  width: 972px;
  margin-top: 16px;
  font-size: 36px;
  line-height: 52px;
  font-weight: 500;
}
header .buttons {
  margin-top: 64px;
  display: flex;
  column-gap: 24px;
}
header .buttons a {
  color: white;
  padding: 13px 63px;
  position: relative;
  border: 1px solid transparent;
  border-radius: 30px;
  transition: all 0.4s linear;
}
header .buttons a:hover {
  background: rgba(31, 29, 43, 0.9);
}
header .buttons a::after {
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
  content: "";
  z-index: -1;
  border-radius: 30px;
}
header .learn_video {
  display: flex;
  margin-top: 154px;
  color: white;
  align-items: center;
  column-gap: 12px;
  transition: all 0.4s linear;
}
header .learn_video:hover {
  color: #73E0A9;
}

.gems {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-top: 100px;
  padding: 0 107px;
  margin-bottom: 128px;
}
.gems .gems_carts {
  display: flex;
  justify-content: space-between;
}
.gems .gems_carts .cart {
  width: 321px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 21px 17px;
  border: 1px solid #73E0A9;
  border-radius: 35px;
  transition: all 0.4s linear;
  color: white;
}
.gems .gems_carts .cart:hover {
  border: 1px solid #5B68DF;
}
.gems .gems_carts .cart .avatar {
  position: relative;
  bottom: 27px;
}
.gems .gems_carts .cart .cart_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}
.gems .gems_carts .cart .cart_title h3 {
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-size: 16px;
  text-align: center;
  line-height: 23px;
  font-weight: 500;
}
.gems .gems_carts .cart .cart_title span {
  text-align: center;
  font-weight: 100;
}
.gems .gems_carts .cart .cart_title span .nick {
  background: linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gems .gems_carts .cart p {
  font-weight: 100;
  text-align: justify;
}

.sec_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec_title h2 {
  color: white;
  font-weight: 500;
  font-size: 36px;
}
.sec_title span {
  background: linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

body {
  background-image: url("../img/background.jpg");
  font-family: "WhyteInktrap", sans-serif;
  font-weight: 400;
  max-width: 1440px;
  display: flex;
  justify-content: center;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: white;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: white;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: white;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: white;
}

.wrapper {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.top_collections {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 0 107px;
}
.top_collections .collections {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 27px;
}
.top_collections .collections .collection {
  cursor: pointer;
  border: 1px solid #73E0A9;
  border-radius: 35px;
  overflow: hidden;
  height: 367px;
  display: flex;
  flex-direction: column;
  transition: all 0.4s linear;
}
.top_collections .collections .collection:hover {
  border: 1px solid #5B68DF;
}
.top_collections .collections .collection .about_nft {
  margin: 0 auto;
  background: #252836;
  width: 255.7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.top_collections .collections .collection .about_nft .user {
  display: flex;
  color: white;
  align-items: center;
  padding: 21px 23px;
  column-gap: 12px;
  width: 100%;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
  -moz-border-image: -moz-linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
  -webkit-border-image: -webkit-linear-gradient(20.71deg, #73E0A9 0%, #5B68DF 100%);
  border-image-slice: 1;
}
.top_collections .collections .collection .about_nft .user span {
  font-weight: 100;
  font-size: 10px;
  line-height: 14px;
}
.top_collections .collections .collection .about_nft .price {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: left;
  padding: 9.93px 153px 9.93px 23px;
  color: white;
}
.top_collections .collections .collection .about_nft .price span {
  font-weight: 100;
}

/*# sourceMappingURL=style.css.map */
